<%- include('partials/_head.ejs') %>

  <form method="POST" action="/sign-in">
    <h2>Please Sign In</h2>

    <label>
      E-Mail:
      <input type="email" name="email">
    </label>

    <label>
      Password:
      <input type="password" name="pass">
    </label>

    <input type="submit" value="Sign In">

  </form>

</body>
</html>