<%- include('partials/_head.ejs') %>

  <h2>Welcome to the Home Page</h2>

  <p>
    Please
    <a href="/sign-in">Sign In</a>
    in order to view our
    <a href="/hidden-page">Hidden Page</a>!
  </p>

</body>
</html>