html { background: salmon; }


.box-model {
    /* box-sizing: content-box; DEFAULT */
    box-sizing: border-box;

    color: black;
    background: white;

    /* Content */
    width: 360px;
    height: 160px;

    /* Padding */
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;

    /* Border */
    border-top: solid red 32px;
    border-right: solid green 32px;
    border-bottom: solid blue 32px;
    border-left: solid yellow 32px;

    /* Margin */
    margin-top: 32px;
    /* margin-right: 32px; */
    margin-right: auto;
    margin-bottom: 32px;
    /* margin-left: 32px; */
    margin-left: auto;
}
